@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --main-bg: url('/src/media/images/blue-bg.png');
  --page-header-bg: url('/src/media/images/page-header-bg.png');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-4 {
  margin-bottom: 4rem;
}

/* Guide page styling */
.guide-page-container {
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .guide-page-container {
    padding: 0 5%;
  }
}

.guide-page-parent-div {
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
}

/* .guide-page-container {
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
} */

.guide-page-parent-div::before {
  content: '';
  position: absolute;
  right: -100px;
  bottom: -15px;
  width: 400px;
  height: 400px;
  background-image: url('https://www.studentvoice.ai/images/index/sitting-1-SVGOMG.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

@media screen and (max-width:576px){
  .guide-page::before {
    width: 325px;
    height: 325px;
    right: -75px;
    background-size: 60%;
    opacity: 0.7;
  }

  .guide-page-container {
    padding: 0 5%;
  }
}

/* homepage header styling */
.home-header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 99;
    box-shadow: 1px 1px 10px -5px #00000099;
}
.home-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.188rem;
  padding: 0rem;
}

.home-header .logo-div img {
  width: 10.938rem;
  cursor: pointer;
}

.home-header .hambarger-icon-div {
  display: none;
}

@media screen and (max-width: 992px) {
  .home-header {
    padding: 0 1rem;
  }
  .home-header .home-header-links-div {
    display: none;
  }
  .home-header .hambarger-icon-div {
    display: block;
  }
}
 

.home-header .home-header-links-div .home-header-links {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  margin-right: 1.438rem;
  color: #000000;
}

.home-header .home-header-links-div .home-header-btn {
  padding: 0rem 3rem;
  margin-left: 1rem;
  border: 2px solid #000000;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

.home-header .home-header-links-div .home-header-links:hover {
  color: rgb(96 176 244);
}

.home-header .home-header-links-div .home-header-btn:hover {
  color: rgb(96 176 244);
  border: 2px solid rgb(96 176 244);
}

/* homepage herosection styling  */
.container {
  width: 90%;
    margin: auto;
    max-width: 1300px;
}

.hero-section {
  background: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 67px);
  overflow: hidden;
  position: relative;
}

.hero-section .hero-section-row {
  min-height: 90.3vh;
}

.hero-section .hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section .hero-content h1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 5.5rem;
  color: #FFFFFF;
  font-family: 'Anek Telugu', sans-serif;
  margin-bottom: 0;
}

.hero-section .hero-content p {
  margin-top: 2.75rem;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.75rem;
}

.hero-section .hero-content .hero-section-btns {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #000000;
  padding: 0rem 2.5rem;
  border: 2px solid #FFFFFF;
}

.hero-section .hero-content .hero-section-btns:not(:first-child) {
  background-color: transparent;
  color: #FFFFFF;
}

.hero-section .hero-content .hero-section-btns:not(:last-child) {
  margin-right: 1.938rem;
}

.hero-section .hero-content .hero-section-btns:hover {
  color: rgb(96 176 244) !important;
  border: 2px solid rgb(96 176 244);
}

.hero-section .hero-content .hero-section-btns  {
  color: #FFFFFF !important;
}

.hero-section .hero-img-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-section .hero-img-div .hero-img {
    display: flex;
    align-items: center;
    padding: 3rem 0rem;
}

.hero-section .hero-img-div .hero-img img {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
.hero-section .hero-content .hero-section-btns a {
    margin: auto;
    color: #fff;
}
@media screen and (max-width: 1300px) {
  .hero-section .hero-content h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .hero-section .hero-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hero-section .hero-content .hero-section-btns {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hero-section .hero-content .hero-section-btns:not(:last-child) {
    margin-right: 1.538rem;
  }
  .hero-section .hero-img-div .hero-img img {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
}

@media screen and (max-width: 992px) {
  .hero-section .hero-content {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .hero-section .hero-content h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
  .hero-section .hero-content p {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  /* .hero-section .hero-img-div{
    
  } */
  .hero-section::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 30%;
    width: 100%;
    height: 100%; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  .hero-section .hero-content h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .hero-section .hero-content p {
    margin-top: 1.75rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-section .hero-content h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .hero-section .hero-content .hero-section-btns:not(:last-child) {
    margin-right: 0.538rem;
  }
  .hero-section .hero-content .hero-section-btns:not(:first-child) {
    margin-top: 1rem;
  }
  .hero-section .hero-img-div .hero-img,
  .hero-section .hero-img-div .hero-img img {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

/* About section Styling */
.about-section {
    background-color: #FBFBFB;
    padding-top: 6.25rem;
    padding-bottom: 5.938rem;
}

.about-section .about-content {
  display: flex;
}
.about-heading {
    width: -webkit-fill-available;
} 

.about-section .about-content .about-heading h3 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.about-section .about-content .about-para p {
  margin-left: 1.875rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 576px) {
  .about-section .about-content {
    flex-direction: column;
  }
  .about-section .about-content .about-para p {
    margin-left: 0rem; 
  }
}

/* Features section styling  */
.features-section {
    padding-top: 8rem;
    padding-bottom: 9.5rem;
    background: var(--main-bg);
    background-repeat: no-repeat;
    background-size: cover;
}
.features-section h2 {
  margin-bottom: 5rem;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  line-height: 2.75rem;
}

.features-section .features-cards .features-cards-row {
  justify-content: space-between;
  margin-top: 3.5rem;
}

.features-section .features-cards .card {
  display: flex;
  height: 100% !important;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.features-section .features-cards .card .card-content h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.375rem;
}

.features-section .features-cards .card .card-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Pricing Section Styling */
.pricing-section {
    background-color: #F9F9F9;
    padding-top: 8.938rem;
    padding-bottom: 8rem;
}

.pricing-section h2 {
  text-align: center;
  color: #000000;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  line-height: 2.75rem;
}

.pricing-section .pricing-cards .pricing-cards-row {
  justify-content: space-between;
  margin-top: 3.5rem;
}

.pricing-section .pricing-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 2.5rem 2rem;
    box-shadow: 0px 4px 57px rgb(0 0 0 / 7%);
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .features-section .features-cards .cards-col:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  .pricing-section .pricing-cards .cards-col:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.pricing-section .pricing-cards .card .card-content h4 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.pricing-section .pricing-cards .card .card-content h6 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.pricing-section .pricing-cards .card .card-content .pricing-span {
  font-weight: 500;
  font-size: 1.1rem;
}

.pricing-section .pricing-cards .card .card-content strong {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 4.375rem;
  line-height: 3.375rem;
}

.pricing-section .pricing-cards .card .card-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.pricing-section .pricing-cards .card .card-content .card-btn {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  border: 2px solid #000000;
}

.card-btn:hover {
  border: 2px solid rgb(96 176 244) !important;
}

/* Stories Section Styling */
.stories-section {
    padding-top: 8.125rem;
    padding-bottom: 9.125rem;
}
.stories-link {
  color: rgb(96 176 244) !important;
  text-decoration: none;
}
.stories-link:hover, .stories-card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}


.card.stories-card h4 {
    margin-top: 20px;
}
.stories-section .stories-section-heading-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stories-section .stories-section-heading-div h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
}

.stories-section .stories-section-heading-div a {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.stories-section .stories-card-div {
  margin-top: 2.625rem;
  justify-content: space-between;
}

.stories-section .stories-card-div .stories-card-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .stories-section .stories-card-div .stories-card-col {
    margin-bottom: 2rem;
  }
}

.stories-section .stories-card {
  width: fit-content;
}
.card.stories-card img { width: 100%; }
.stories-section .stories-card h4 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

.stories-section .stories-card p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.stories-section .stories-card strong {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Footer Styling  */
footer {
  background: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer-upper-div {
    max-width: 1000px;
    position: relative;
    top: -75px;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: auto;
    padding: 3rem 0rem;
    display: flex;
    box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.08);
}

footer .footer-upper-div h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.75rem;
    margin: 1rem auto;
}

@media screen and (max-width: 992px) {
  footer .footer-upper-div {
    margin: 0;
  }
  footer .footer-upper-div h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0;
  }
  footer .footer-upper-div .footer-upper-div-input-section .footer-input {
    margin-left: 0;
  }
}

footer .footer-upper-div .footer-upper-div-input-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-upper-div .footer-upper-div-input-section .footer-input {
  border: 1px solid #000000;
  border-radius: 52px 0px 0px 52px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .6rem 2rem;
  outline: none;
  margin-left: 2rem;
  background-color: #DCDCDC;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer .footer-upper-div .footer-upper-div-input-section .footer-input-btn {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 0px 52px 52px 0px;
  padding: .6rem 2rem;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

footer .footer-bottom-div {
    color: #FFFFFF;
    padding-bottom: 8rem;
    padding-top: 2rem;
}

footer .footer-bottom-div h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #FFFFFF;
}

footer .footer-bottom-div p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

footer .footer-bottom-div h5 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

footer .footer-bottom-div ul li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

footer .footer-bottom-div ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

footer .footer-bottom-div .footer-bottom-div-col:not(:first-child) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

@media screen and (max-width: 992px) {
  footer .footer-bottom-div .footer-bottom-div-col:not(:first-child) {
    align-items: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .ant-row.hero-section-row {
    display: flex; 
    flex-direction: column-reverse;
    padding: 3rem .1rem;
}
  footer .footer-upper-div .footer-upper-div-input-section .footer-input {
  padding: .3rem 1.25rem;
  outline: none;
  margin-left: 0rem;
  width: 50%;
  }
  footer .footer-upper-div .footer-upper-div-input-section .footer-input-btn {
    padding: .3rem 1.25rem;
  }
  footer .footer-upper-div {
    position: relative;
    top: -75px;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    border-radius: 11px;
    margin: auto;
    padding: 3rem 1rem;
  }
}

footer .social-links-icons-div {
  display: flex;
}

footer .social-links-icons-div .social-links-icons {
  font-size: 2rem;
  cursor: pointer;
}

footer .social-links-icons-div .social-links-icons:not(:last-child) {
  margin-right: 1.5rem;
}

footer .copyright {
  display: flex;
  justify-content: center;
}

footer .copyright p {
  color: rgba(255, 255, 255, 0.64);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Privacy Policy Styling */
.page-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background: var(--page-header-bg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  padding: 0 2rem;
  backdrop-filter: blur(14px);
}

.page-header h1 {
  color: #FFFFFF;
  font-size: 2.75rem;
  line-height: 3.563rem;
  font-family: 'Raleway', sans-serif;
}

.privacy-policy-content {
  padding: 7rem 4rem 9rem 4rem;
}

@media screen and (max-width: 576px) {
 .privacy-policy-content {
    padding: 2rem 0rem 9rem 0rem;
  }
}

.page-container .privacy-policy-content div {
  margin-bottom: 2rem;
}

.page-container .privacy-policy-content h4 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
}

.page-container .privacy-policy-content p, .page-container .privacy-policy-content li {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  font-weight: 400;
}

/* Contact us Styling */
.contact-us-form-wrapper {
  background-color: #F9F9F9;
}

.contact-us-form-parent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us-form {
  margin: 7rem 4rem 9rem 4rem;
  width: 50%;
}

.contact-us-form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  /* text-align: center; */
}

.contact-us-form-first-row {
  justify-content: space-between;
}

.contact-us-form-input {
  border: 1px solid #959595 !important;
  border-radius: 8px !important;
}

.contact-us-form-small {
  font-size: 0.938px;
  line-height: 1.5rem;
  font-weight: 400;
  color: #959595;
  text-align: left !important;
}

.contact-us-form-submit-row {
  justify-content: flex-end;
}

.contact-us-form-submit-btn {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 52px;
  padding: .6rem 2rem;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contact-us-form {
    width: 100%;
  }
}

/* About Page Styling */
.about-page-upper-row {
  margin: 4rem 2rem 4rem 2rem;
}

.about-page-upper-col {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important; 
}

.about-page-upper-col h2 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 2.625rem;
  line-height: 3.082rem;
  letter-spacing: -2%;
  width: 80%;
}

.about-page-upper-col-img {
  width: 100%;
  height: 15.125rem;
}

.about-page-bottom-div {
  padding: 3rem 0rem 9rem 0rem;
  background-color: #F9F9F9;
}

.about-page-bottom-div h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 3.082rem;
  letter-spacing: -2%;
}

.about-page-bottom-div-row {
  margin-top: 5rem;
  height: 30rem;
}

.about-page-bottom-div-col {
  display: flex !important;
  /* height: 100% !important; */
}

.about-page-bottom-div-col-1, .about-page-bottom-div-col-2, .about-page-bottom-div-col-3 {
  display: flex !important;
  /* height: 100%; */
}

.about-page-bottom-div-col-1 {
  align-items: flex-start !important;
}

.about-page-bottom-div-col-2 {
  align-items: center !important;
}

.about-page-bottom-div-col-3 {
  align-items: flex-end !important;
}

@media screen and (max-width: 992px) {
  .about-page-bottom-div-row {
    height: auto;
  }
  .about-page-bottom-div-col {
    width: 70%;
    margin: 0rem 2rem 3rem 2rem;
  }
  .about-page-bottom-div-col-1, .about-page-bottom-div-col-2, .about-page-bottom-div-col-3 {
    align-items: flex-start !important;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .about-page-bottom-div-col {
    margin: 0rem 0rem 3rem 0rem;
    justify-content: flex-start !important;
    width: 100%;
  }
  .about-page-bottom-div-col-1, .about-page-bottom-div-col-2, .about-page-bottom-div-col-3 {
    justify-content: flex-start !important;
  }

  .about-page-upper-col h2 {
    font-size: 2.025rem;
    line-height: 2.482rem;
    width: 100%;
  }

  .about-page-upper-row {
    margin: 4rem 0rem 4rem 0rem;
  }
  
}

.about-page-bottom-div-col .number {
  display: flex;
  align-items: flex-start;
  height: initial;
}

.about-page-bottom-div-col .number p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 1.758rem;
  font-weight: 700;
  background-color: white;
}

.about-page-bottom-div-col .content {
  margin-left: 0.7rem;
}

.about-page-bottom-div-col .content h2 {
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.758rem;
}

.about-page-bottom-div-col .content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Payment Page Styling */
.purchase-model-list {
  min-height: 100%;
}

.payment-first-col {
  padding-bottom: 9rem !important;
  background-color: #E5E5E5;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 24px;
  justify-content: center;
  position: relative;
}

.payment-container {
  max-width: 700px !important;
  width: 90% !important;
}

.purchase-model-list h2 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.purchase-model-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 20px -10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 24px;
}

.purchase-model-list-item:not(:last-child) {
  margin-bottom: 2rem;
}

.purchase-model-list-item .purchase-model-list-item-content {
  display: flex;
  align-items: center;
}

.purchase-model-list-item-content .model-logo {
  margin-right: 2rem;
}

.purchase-model-list-item-content h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.313rem;
  margin: 0;
}

.purchase-model-list-item-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  color: #7A7A7A;
  margin: 0;
}

.purchase-model-list-item-price p {
  color: #00CFC3;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.313rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total h2 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.total p {
  color: #00CFC3;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.313rem;
}

.payment-second-col {
  min-height: 100%;
  padding-bottom: 9rem !important;
}

.payment-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.payment-details h2 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.payment-details p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

.payment-form-row {
  display: flex;
  justify-content: space-between;
}

.payment-form-inputs {
  outline: none;
  border: 2px solid #EEEEEE;
  border-radius: 33px;
  padding-left: 20px;
}

.payment-form-icons {
  color: #B5B5B5;
}

.payment-form-btn {
  border-radius: 4.563rem !important;
}