/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}
.p-10 {
  padding: 2.5rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}
.pt-10 {
  padding-top: 2.5rem;
}


.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}


.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}
.pl-10 {
  padding-left: 2.5rem;
}


.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}
.pr-10 {
  padding-right: 2.5rem;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}
.m-10 {
  margin: 2.5rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}
.mt-10 {
  margin-top: 2.5rem;
}


.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}


.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}
.ml-10 {
  margin-left: 2.5rem;
}


.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}
.mr-10 {
  margin-right: 2.5rem;
}

.block {
  display: block !important;
}
.flex {
  display: flex !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.table {
  display: table !important;
}

.w-10p {
  width: 10%;
}
.w-20p {
  width: 20%;
}
.w-30p {
  width: 30%;
}
.w-40p {
  width: 40%;
}
.w-50p {
  width: 50%;
}
.w-60p {
  width: 60%;
}
.w-70p {
  width: 70%;
}
.w-80p {
  width: 80%;
}
.w-90p {
  width: 90%;
}
.w-100p {
  width: 100%;
}

.w-1rem {
  width: 1rem;
}
.w-2rem {
  width: 2rem;
}
.w-3rem {
  width: 3rem;
}
.w-4rem {
  width: 4rem;
}

.mh-100vh {
  min-height: 100vh !important;
}

.flex-left-center {
    display: flex;
    align-items: center;
    align-content: center;
}


.text-white {
  color: #fff !important;
}
.text-black {
  color: #000 !important;
}

.rounded-0 {
  border-radius: 0;
}
.rounded-1 {
  border-radius: 0.25rem;
}
.rounded-2 {
  border-radius: 0.5rem;
}
.rounded-3 {
  border-radius: 0.75rem;
}
.rounded-4 {
  border-radius: 1rem;
}
.rounded-5 {
  border-radius: 1.25rem;
}
.circle {
  border-radius: 50%;
}

.center  {
  text-align: center;
}

.warning {
  background: #faad14;
}

.success {
  background: green;
  color: #fff;
}

.danger {
  background: rgb(202, 0, 0);
  color: #fff;
}

.flex-center-center {
  justify-content: center;
  align-content: center;
  align-items: center;
}


#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

main.ant-layout-content {
    min-height: calc(100vh - 158px);
}

.logo img{
  height: 32px;
  margin: 16px;
  display: block; 
}

span.anticon.anticon-menu-fold.trigger { 
    color: #fff;
}

header.ant-layout-header.site-layout-background .anticon.anticon-menu-unfold.trigger {
    color: #fff;
}

.select-add-on { 
  padding: 6px;
  margin-right: -32px;
  margin-bottom: -2px; 
  position: relative;
  z-index: 2;
  font-size: 1.2em;
}
.select-add-on span svg {
  font-size: 1.2em !important;
}
.select.add-on .ant-select-selector{
   padding-left: 40px !important;
    
} 
.select.add-on {
    display: flex;
    align-content: center;
    align-items: center;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.statuses {
    position: fixed;
    right: 20px;
    bottom: 10px;
    display: flex;
}

.statuses > div > p { 
    padding: 2px 15px;
    margin-right: 20px;
    border-radius: 20px;
    font-weight: 600;
}

/* Guide page styling */
.guide-page-container {
  padding: 0 10%;
}

.guide-page-container {
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
}

.guide-page-container::before {
  content: '';
  position: absolute;
  right: -100px;
  bottom: -15px;
  width: 400px;
  height: 400px;
  background-image: url('https://www.studentvoice.ai/images/index/sitting-1-SVGOMG.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

@media screen and (max-width:576px){
  .guide-page::before {
    width: 325px;
    height: 325px;
    right: -75px;
    background-size: 60%;
    opacity: 0.7;
  }

  .guide-page-container {
    padding: 0 5%;
  }
}

/* homepage header styling */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.188rem;
  padding: 0rem 7.563rem;
}

.home-header .logo-div img {
  width: 10.938rem;
  cursor: pointer;
}

.home-header .hambarger-icon-div {
  display: none;
}

@media screen and (max-width: 992px) {
  .home-header {
    padding: 0 1rem;
  }
  .home-header .home-header-links-div {
    display: none;
  }
  .home-header .hambarger-icon-div {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .home-header .logo-div img {
    width: 2.937rem;
  }
}

.home-header .home-header-links-div .home-header-links {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  margin-right: 1.438rem;
  color: #000000;
}

.home-header .home-header-links-div .home-header-btn {
  padding: 0rem 3rem;
  margin-left: 1rem;
  border: 2px solid #000000;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

.home-header .home-header-links-div .home-header-links:hover {
  color: rgb(96 176 244);
}

.home-header .home-header-links-div .home-header-btn:hover {
  color: rgb(96 176 244);
  border: 2px solid rgb(96 176 244);
}

/* homepage herosection styling  */
.container {
  padding: 0 10%;
}

.hero-section {
  padding: 0 10%;
  background: linear-gradient(100.34deg, #0C0433 0.91%, #171078 100%);
  min-height: 90.3vh;
  overflow: hidden;
  position: relative;
}

.hero-section .hero-section-row {
  min-height: 90.3vh;
}

.hero-section .hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section .hero-content h1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 5.5rem;
  color: #FFFFFF;
  font-family: 'Anek Telugu', sans-serif;
  margin-bottom: 0;
}

.hero-section .hero-content p {
  margin-top: 2.75rem;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.75rem;
}

.hero-section .hero-content .hero-section-btns {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #000000;
  padding: 0rem 2.5rem;
  border: 2px solid #FFFFFF;
}

.hero-section .hero-content .hero-section-btns:not(:first-child) {
  background-color: transparent;
  color: #FFFFFF;
}

.hero-section .hero-content .hero-section-btns:not(:last-child) {
  margin-right: 1.938rem;
}

.hero-section .hero-content .hero-section-btns:not(:first-child):hover {
  color: rgb(96 176 244);
  border: 2px solid rgb(96 176 244);
}

.hero-section .hero-content .hero-section-btns:not(:last-child):hover {
  color: rgb(96 176 244);
  border: 2px solid rgb(96 176 244);
}

.hero-section .hero-img-div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-section .hero-img-div .hero-img {
  height: 75%;
  display: flex;
  align-items: flex-end;
}

.hero-section .hero-img-div .hero-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .hero-section .hero-content h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .hero-section .hero-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hero-section .hero-content .hero-section-btns {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hero-section .hero-content .hero-section-btns:not(:last-child) {
    margin-right: 1.538rem;
  }
}

@media screen and (max-width: 992px) {
  .hero-section .hero-content {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .hero-section .hero-content h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
  .hero-section .hero-content p {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-section .hero-img-div{
    display: none;
  }
  .hero-section::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 30%;
    width: 100%;
    height: 100%;
    background: url('/media/images/body-language-portrait-friendly-looking-positive-dark-skinned-little-boy-t-shirt-connecting-fore-finger-thumb-making-approval-gesture-showing-okay-sign-saying-everything-is-fine 1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  .hero-section .hero-content h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .hero-section .hero-content p {
    margin-top: 1.75rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-section .hero-content h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .hero-section .hero-content .hero-section-btns:not(:last-child) {
    margin-right: 0.538rem;
  }
  .hero-section .hero-content .hero-section-btns:not(:first-child) {
    margin-top: 1rem;
  }
}

/* About section Styling */
.about-section {
  background-color: #FBFBFB;
  padding-top: 4.25rem;
  padding-bottom: 3.938rem;
}

.about-section .about-content {
  display: flex;
}

.about-section .about-content .about-heading h3 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.about-section .about-content .about-para p {
  margin-left: 1.875rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 576px) {
  .about-section .about-content {
    flex-direction: column;
  }
}

/* Features section styling  */
.features-section {
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  background: #140F88;
}

.features-section h2 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  line-height: 2.75rem;
}

.features-section .features-cards .features-cards-row {
  justify-content: space-between;
  margin-top: 3.5rem;
}

.features-section .features-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.features-section .features-cards .card .card-content h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.375rem;
}

.features-section .features-cards .card .card-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Pricing Section Styling */
.pricing-section {
  background-color: #F9F9F9;
  padding-top: 3.938rem;
  padding-bottom: 4rem;
}

.pricing-section h2 {
  text-align: center;
  color: #000000;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  line-height: 2.75rem;
}

.pricing-section .pricing-cards .pricing-cards-row {
  justify-content: space-between;
  margin-top: 3.5rem;
}

.pricing-section .pricing-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .features-section .features-cards .cards-col:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  .pricing-section .pricing-cards .cards-col:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.pricing-section .pricing-cards .card .card-content h4 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.pricing-section .pricing-cards .card .card-content h6 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.pricing-section .pricing-cards .card .card-content .pricing-span {
  font-weight: 500;
  font-size: 1.1rem;
}

.pricing-section .pricing-cards .card .card-content strong {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 4.375rem;
  line-height: 3.375rem;
}

.pricing-section .pricing-cards .card .card-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.pricing-section .pricing-cards .card .card-content .card-btn {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  border: 2px solid #000000;
}

/* Stories Section Styling */
.stories-section {
  padding-top: 5.125rem;
  padding-bottom: 6.125rem;
}

.stories-section .stories-section-heading-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stories-section .stories-section-heading-div h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
}

.stories-section .stories-section-heading-div a {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.stories-section .stories-card-div {
  margin-top: 2.625rem;
  justify-content: space-between;
}

.stories-section .stories-card-div .stories-card-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .stories-section .stories-card-div .stories-card-col {
    margin-bottom: 2rem;
  }
}

.stories-section .stories-card {
  width: min-content;
}

.stories-section .stories-card h4 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

.stories-section .stories-card p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.stories-section .stories-card strong {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Footer Styling  */
footer {
  background-color: #000000;
}

footer .footer-upper-div {
  position: relative;
  top: -75px;
  align-items: center;
  justify-content: center;
  background-color: #C4C4C4;
  border-radius: 11px;
  margin: 2rem 3rem;
  padding: 3rem 0rem;
}

footer .footer-upper-div h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  margin-right: 2rem;
}

@media screen and (max-width: 992px) {
  footer .footer-upper-div {
    margin: 0;
  }
  footer .footer-upper-div h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0;
  }
  footer .footer-upper-div .footer-upper-div-input-section .footer-input {
    margin-left: 0;
  }
}

footer .footer-upper-div .footer-upper-div-input-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-upper-div .footer-upper-div-input-section .footer-input {
  border: 1px solid #000000;
  border-radius: 52px 0px 0px 52px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .6rem 2rem;
  outline: none;
  margin-left: 2rem;
  background-color: #DCDCDC;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer .footer-upper-div .footer-upper-div-input-section .footer-input-btn {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 0px 52px 52px 0px;
  padding: .6rem 2rem;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

footer .footer-bottom-div {
  color: #FFFFFF;
  padding-bottom: 4rem;
}

footer .footer-bottom-div h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #FFFFFF;
}

footer .footer-bottom-div p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

footer .footer-bottom-div h5 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

footer .footer-bottom-div ul li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

footer .footer-bottom-div ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

footer .footer-bottom-div .footer-bottom-div-col:not(:first-child) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

@media screen and (max-width: 992px) {
  footer .footer-bottom-div .footer-bottom-div-col:not(:first-child) {
    align-items: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 576px) {
  footer .footer-upper-div .footer-upper-div-input-section .footer-input {
  padding: .3rem 1.25rem;
  outline: none;
  margin-left: 0rem;
  width: 50%;
  }
  footer .footer-upper-div .footer-upper-div-input-section .footer-input-btn {
    padding: .3rem 1.25rem;
  }
  footer .footer-upper-div {
    position: relative;
    top: -75px;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    border-radius: 11px;
    margin: 2rem 0rem;
    padding: 3rem 0rem;
  }
}

footer .social-links-icons-div {
  display: flex;
}

footer .social-links-icons-div .social-links-icons {
  font-size: 2rem;
  cursor: pointer;
}

footer .social-links-icons-div .social-links-icons:not(:last-child) {
  margin-right: 1.5rem;
}

footer .copyright {
  display: flex;
  justify-content: center;
}

footer .copyright p {
  color: rgba(255, 255, 255, 0.64);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}