/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --blue-bg: url('/src//media/images/blue-bg.png') !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}
.p-10 {
  padding: 2.5rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}
.pt-10 {
  padding-top: 2.5rem;
}


.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}


.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}
.pl-10 {
  padding-left: 2.5rem;
}


.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}
.pr-10 {
  padding-right: 2.5rem;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}
.m-10 {
  margin: 2.5rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}
.mt-10 {
  margin-top: 2.5rem;
}


.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}


.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}
.ml-10 {
  margin-left: 2.5rem;
}


.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}
.mr-10 {
  margin-right: 2.5rem;
}

.block {
  display: block !important;
}
.flex {
  display: flex !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.table {
  display: table !important;
}

.w-10p {
  width: 10%;
}
.w-20p {
  width: 20%;
}
.w-30p {
  width: 30%;
}
.w-40p {
  width: 40%;
}
.w-50p {
  width: 50%;
}
.w-60p {
  width: 60%;
}
.w-70p {
  width: 70%;
}
.w-80p {
  width: 80%;
}
.w-90p {
  width: 90%;
}
.w-100p {
  width: 100%;
}

.w-1rem {
  width: 1rem;
}
.w-2rem {
  width: 2rem;
}
.w-3rem {
  width: 3rem;
}
.w-4rem {
  width: 4rem;
}

.mh-100vh {
  min-height: 100vh !important;
}

.flex-left-center {
    display: flex;
    align-items: center;
    align-content: center;
}


.text-white {
  color: #fff !important;
}
.text-black {
  color: #000 !important;
}

.rounded-0 {
  border-radius: 0;
}
.rounded-1 {
  border-radius: 0.25rem;
}
.rounded-2 {
  border-radius: 0.5rem;
}
.rounded-3 {
  border-radius: 0.75rem;
}
.rounded-4 {
  border-radius: 1rem;
}
.rounded-5 {
  border-radius: 1.25rem;
}
.circle {
  border-radius: 50%;
}

.center  {
  text-align: center;
}

.warning {
  background: #faad14;
}

.success {
  background: green;
  color: #fff;
}

.danger {
  background: rgb(202, 0, 0);
  color: #fff;
}

.flex-center-center {
  justify-content: center;
  align-content: center;
  align-items: center;
}


#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

main.ant-layout-content {
    min-height: calc(100vh - 158px);
}

.logo img{
  height: 32px;
  margin: 16px;
  display: block; 
}

span.anticon.anticon-menu-fold.trigger { 
    color: #fff;
}

header.ant-layout-header.site-layout-background .anticon.anticon-menu-unfold.trigger {
    color: #fff;
}

.select-add-on { 
  padding: 6px;
  margin-right: -32px;
  margin-bottom: -2px; 
  position: relative;
  z-index: 2;
  font-size: 1.2em;
}
.select-add-on span svg {
  font-size: 1.2em !important;
}
.select.add-on .ant-select-selector{
   padding-left: 40px !important;
    
} 
.select.add-on {
    display: flex;
    align-content: center;
    align-items: center;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.statuses {
    position: fixed;
    right: 20px;
    bottom: 10px;
    display: flex;
}

.statuses > div > p { 
    padding: 2px 15px;
    margin-right: 20px;
    border-radius: 20px;
    font-weight: 600;
}

/* Login Page Styling */
.auth-pages-bg {
  background: var(--blue-bg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  backdrop-filter: blur(59.5px) !important;
}
